.content{
    width: auto;
    margin: 0px auto;
    position: relative;
    display:flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;   
    min-height: 100vh;
}


  
h1{
    font-size: 70px;
    color: #00e5fff8;
    text-shadow: 0 2px 2px rgb(10, 114, 138);
    padding: 2px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px; /*margim de baixo do risco abaixo do cadastro/loguin */
}



h2{
    font-size: 70px;
    color: #00e5fff8;
    text-shadow: 0 2px 2px rgb(10, 114, 138);
    padding: 2px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px; /*margim de baixo do risco abaixo do cadastro/loguin */

}

table, th, td {
    border: 1px solid black;
}

#aluno{   
    padding: 18px 1.5% 60px 1.5%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
  }
