/*
ex.:  https://paletton.com/#uid=13q0u0kiCFn8GVde7NVmtwSqXtg
      https://paletton.com/#uid=13q0u0kbRt14+E48dwffUpTkImm*/

body{
    background-color: #f2fbff;
}
a{
    text-decoration: none;
}

a.links{
    display: none;
}

*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
}