html {
  height: 100%; /* Define o tamanho do Documento HTML */
}

body {
  height: 100%;
  margin: 0 auto; /* Centraliza */
  padding: 100px;
  width: 70%; /* Define a largura do Corpo do Documento */
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    cursor: default;
}
.centered{
    padding: 30px 1.5% 0 1.5%;
    margin: 0 0 0 0;
}

.text{
    padding: 10% 1.5% 0 1.5%;
    margin: 0 0 0 0;
}

.card{
    background-color: #fffafa;
}
h1, h2{
    font-size: 70px;
    color: var(--titulo);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgb(125, 195, 204) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgb(2, 155, 175) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }

/*--table--*/
  .btn-dark {
    color: #fff;
    background-color: black;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #1d2124;
}

.link{
    background: #e1eaeb;
    color: #7f7c7c;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }

.btn{
    font-size: 18px;
    padding: 4px 10px 4px;

}



/*--menu--*/
.nav {
    background: #1d1e20;
    display: flex;
    font-family: 'Ubuntu', sans-serif;  
    font-size: 20px;
   
}


  .menu {
    display: flex;
    color: white;
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif; 
  }
  
  .menu li {
    margin-left: 10px;
  }

.menu > li{
  border-left: red;
  border-right: red;
}
  
  .menu li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

/*--Botão de logout tem que ajeitar--*/
#logout{
  background: black;
  margin-left: 1445px;
  padding: 7px 15px 7px 15px; /*--Parametros do corpo do botão--*/
  font-size: 12px;
  border-top: 1px solid #dbe5e8;
  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #4ab3c6;
  -webkit-border-radius: 4px;
  border-radius: 4px;  
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
  text-shadow: 0 1px 1px #333;
}
 
#logout:hover{
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}
/*#logout{

  padding: right !important;
  color: black !important;
  font-size: 20px;
  text-align: center;
}

li > a#logout:hover{
 
  cursor: pointer;

}
*/
/*--botao perfil--*/
.dropdown{
  text-align: center;
}
.dropdown-menu{
  background-color: black;
  color: darkblue;
}
.dropdown-item{
  color: darkblue;
}
.dropdown-item:hover{
  color: darkblue;
}

/* Cards de cria 

.conteudo{ 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100px;
  height: 100px;
}

.card2 {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 2px #0f10116b;
}

.middleCard{
  background: url(https://i.pinimg.com/736x/f8/0b/8c/f80b8c231c4cc09339aa4f7293d429d0.jpg) center/cover;
  height: 300px;
  width: 100%;

}
*/