@import "../css/padrao.css";

/*--table--*/
.btn-dark {
    color: #fff;
    background-color: black;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #1d2124;
}

.link{
    background: #e1eaeb;
    color: #7f7c7c;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }

.btn{
    font-size: 18px;
    padding: 4px 10px 4px;

}
/*--Card--*/
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px #5c62686b;
}

h5 {
  margin : 10px;
}

img{
  margin: center;
  text-align: center;
}

a{
  text-decoration: none;
  cursor: pointer;
}
.text{
  padding: 10% 1.5% 0 1.5%;
  margin: 0 0 0 0;
}

.card{
  background-color: #fffafa;
}