.content{
    width: auto;
    margin: 0px auto;
    position: relative;
    display:flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;   
    min-height: 100vh;
}


  
h1{
    font-size: 70px;
    color: #00e5fff8;
    text-shadow: 0 2px 2px rgb(10, 114, 138);
    padding: 2px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px; /*margim de baixo do risco abaixo do cadastro/loguin */
}



h2{
    font-size: 70px;
    color: #00e5fff8;
    text-shadow: 0 2px 2px rgb(10, 114, 138);
    padding: 2px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px; /*margim de baixo do risco abaixo do cadastro/loguin */

}

table, th, td {
    border: 1px solid black;
}

#aluno{   
    padding: 18px 1.5% 60px 1.5%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
  }

/* css do menu   */
img{
    width: 40px;
}

/* esconde o check */
input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(550px);
}

nav{
    top: 140px;
    width: 250px;
    left: -250px;
    height: 100%;
    position: absolute;
    /* isso era para dar uma 
    trasição mas n funca sla
    transition: all 10;
    */

}

ul{
    top: 70px;
    position: absolute;
    width: 100%;
    list-style: NONE;
}

a{
    display: block;
    padding: 20px 5px;
    color: white;
    background: rgb(61, 157, 179);
    border: 1px solid #000000;
    text-shadow: 0 1px 1px #333;

    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}

a:hover{
    background: #00e5fff8;
    border: 1px solid #000000;
    text-shadow: 0 1px 1px #333;

    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

label{
    padding: 15px;
    top: 150px;
    position: absolute;
    z-index: 1;
}

