@import "../css/padrao.css";

.content{
    width: auto;
    margin: 0px auto;
    position: relative;
    display:flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;   
    min-height: 100vh;
}
  
h1{
    font-size: 70px;
    color: var(--titulo);
    text-shadow: 0 2px 2px #0a728a;
    padding: 2px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 70px;
    color: var(--titulo);
    text-shadow: 0 2px 2px #0a728a;
    padding: 2px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}


/* css do menu   */
img{
    width: 40px;
}

/* esconde o check */
input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(300px);
}

nav{
    background-color: var(--bg_botao);
    width: 280px;   
    left: -300px;
    top: 10px;
    height: 100%;
    position: absolute;
    transition: all 0.2;
}

ul{
    top: 70px;
    position: absolute;
    width: 100%;
    list-style: NONE;
}

a{
    display: block;
    padding: 20px 5px;
    color: white;
    background: var(--bg_botao);
    text-shadow: 0 1px 1px #333;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}

a:hover{
    background: var(--bg);
    padding: 8px 5px;
    color: var(--titulo);
    font-size: 20px;     
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    transition: all 0.2s linear;
}

label{
    padding: 15px;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

